<h1>Editing Fridge</h1>

<%= form_for @fridge do |form| %>
    <%= form.text_field :location %> <br>
    <%= form.text_field :brand%> <br>
    <%= form.text_field :size%> <br>
    <%= form.submit %> <br>
<% end %>
<br>
<a href="/fridges">Go Back</a>