<h1>New Fridge</h1>

<%= form_for @fridge do |form| %>
    Location: <%= form.text_field :location %> <br>
    Brand: <%= form.text_field :brand%> <br>
    Size (in cubic feet): <%= form.text_field :size%> <br>
    <%= form.submit %> <br>
<% end %>
<br>
<a href="/fridges">Go Back</a>